#### Q1. 홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균 점수를 구해 보자.
#### 국어 80, 영어 75, 수학 55

In [3]:
kor, eng, math = 80, 75, 55
total = kor+eng+math
print(total)

210

In [4]:
avg = total/3
print("홍길동 씨의 평균 점수는 {} 입니다.".format(avg))

홍길동 씨의 평균 점수는 70.0 입니다.

#### Q2. 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해 보자.

In [5]:
n = 13

if n%2 == 0:   # % 나머지 / // 몫
    print("n은 짝수입니다.")
else:
    print("n은 홀수입니다.")

n은 홀수입니다.

#### Q3. 홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

In [11]:
jumin_num = "881120-1068234"

yyyymmdd = jumin_num[:6]
num = jumin_num[7:]
print("YYYYMMDD 부분은",yyyymmdd,"이고, 뒤의 숫자 부분은",num+"입니다.")

YYYYMMDD 부분은 881120 이고, 뒤의 숫자 부분은 1068234입니다.

#### Q4. 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

In [17]:
pin = "881120-1068234"
fnm = pin[7]
print(f"성별을 나타내는 숫자는 {fnm}이다".format())

성별을 나타내는 숫자는 1이다

#### Q5. 다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

In [20]:
s = "a:b:c:d"
s = s.replace(":","#")
print(s)

a#b#c#d

#### Q6. [1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.

In [47]:
l = [1,3,5,4,2]
print(l)

[1, 3, 5, 4, 2]

In [48]:
l.sort()    #sort() 로 오름차순 정렬 후,
print(l)

[1, 2, 3, 4, 5]

In [49]:
l.reverse()  #reverse() 로 뒤집어준다.
print(l)

[5, 4, 3, 2, 1]

#### Q7. ['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.

In [77]:
life = ['Life', 'is', 'too', 'short']
result = " ".join(life)              # join() 사용법 숙지!!! "_" 공백 한 칸 넣어줌.
print(result)                        # "".join()

Life is too short

#### Q8. (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.

In [85]:
tu = (1,2,3)      # + 더하기 이용을 잊지 말자!!!            
tu = tu + (4,)  
print(tu)

(1, 2, 3, 4)

#### Q9. 다음과 같은 딕셔너리 a가 있다.

>>> a = dict()
>>> a
{}

#### 다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.

#### 1. a['name'] = 'python'
#### 2. a[('a',)] = 'python'
#### 3. a[[1]] = 'python'
#### 4. a[250] = 'python'

#### > 3번, 오류가 발생하는 이유는 딕셔너리의 키로는 변하는(mutable) 값을 사용할 수 없기 때문이다. 위 예에서 키로 사용된 [1]은 리스트이므로 변하는 값이다. 다른 예에서 키로 사용된 문자열, 튜플, 숫자는 변하지 않는(immutable) 값이므로 딕셔너리의 키로 사용이 가능하다. // 변하는 값은 key값이 될 수 없다!!!

#### Q10. 딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.

In [111]:
a = {'A':90, 'B':80, 'C':70}

In [112]:
a['B']

80

In [113]:
# pop() 사용

In [114]:
result = a.pop("B")
# a

In [115]:
result

80

In [116]:
print(a)   #pop()을 사용하면 키에 해당하는 값을 반환 후, key와 value를 삭제한다.

{'A': 90, 'C': 70}

#### Q11. a 리스트에서 중복 숫자를 제거해 보자.

In [90]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
a = set(a)
a

{1, 2, 3, 4, 5}

#### Q12.파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 보자.

In [ ]:
>>> a = b = [1, 2, 3]
>>> a[1] = 4
>>> print(b)

In [94]:
a = b = [1, 2, 3]

In [95]:
a[1] = 4
a

[1, 4, 3]

In [96]:
print(b)

[1, 4, 3]

#### 모두 동일한 [1, 2, 3]이라는 list 객체를 가지고 있기 때문에 같이 변한다.

#### 아래와 같이 각각 객체를 설정하면, a 변수를 변경하더라도 b변수는 변하지 않으니 참고하자!

In [117]:
a = [1,2,3]
b = [1,2,3]

In [118]:
a[1]=4
a

[1, 4, 3]

In [119]:
b

[1, 2, 3]

##### 참조) 점프 투 파이썬 https://wikidocs.net/42526