# Pandas 한번에 제대로 배우기



---

In [1]:
import numpy as np
import pandas as pd
pd.__version__ # 판다스 버전 확인

'1.1.5'

## Pandas 객체

### Series 객체

In [100]:
s = pd.Series([0, 0.25, 0.5, 0.75, 1.0]) # Series 는 인덱스와 함께 값을 저장한다
s

0    0.00
1    0.25
2    0.50
3    0.75
4    1.00
dtype: float64

In [101]:
s.values

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [102]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [103]:
s[1]

0.25

In [104]:
s[1:4]

1    0.25
2    0.50
3    0.75
dtype: float64

In [105]:
s = pd.Series([0, 0.25, 0.5, 0.75, 1.0], index=['a','b','c','d','e']) # 인덱스 지정이 가능
s

a    0.00
b    0.25
c    0.50
d    0.75
e    1.00
dtype: float64

In [106]:
s['c']

0.5

In [107]:
s[['c','d','e']]

c    0.50
d    0.75
e    1.00
dtype: float64

In [108]:
'b' in s

True

In [109]:
s = pd.Series([0, 0.25, 0.5, 0.75, 1.0], index=[2,4,6,8,10]) 
s

2     0.00
4     0.25
6     0.50
8     0.75
10    1.00
dtype: float64

In [110]:
s[4]

0.25

In [111]:
s[2:]

6     0.50
8     0.75
10    1.00
dtype: float64

In [112]:
s.unique()

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [113]:
s.value_counts()

1.00    1
0.75    1
0.50    1
0.25    1
0.00    1
dtype: int64

In [114]:
s.isin([0.25, 0.75]) # [] 안에 값이 s에 존재하는지 boolean 형태로 반환

2     False
4      True
6     False
8      True
10    False
dtype: bool

In [179]:
pop_tuple ={'서울특별시': 9720846,
            '부산광역시': 3404423,
            '인천광역시': 2947217,
            '대구광역시': 2427954,
            '대전광역시': 1471040,
            '광주광역시': 1455048}
population = pd.Series(pop_tuple)
population

서울특별시    9720846
부산광역시    3404423
인천광역시    2947217
대구광역시    2427954
대전광역시    1471040
광주광역시    1455048
dtype: int64

In [180]:
population['서울특별시']

9720846

In [181]:
population['서울특별시':'인천광역시']

서울특별시    9720846
부산광역시    3404423
인천광역시    2947217
dtype: int64

### DataFrame 객체

In [182]:
pd.DataFrame([{'A':2, 'B':4, 'D':3}, {'A':4, 'B':5, 'C':7}])

   A  B    D    C
0  2  4  3.0  NaN
1  4  5  NaN  7.0

In [183]:
pd.DataFrame(np.random.rand(5,5),
             columns = ['A', 'B', 'C', 'D', 'E'],
             index=[1,2,3,4,5])

          A         B         C         D         E
1  0.701087  0.661760  0.981812  0.547998  0.385619
2  0.328601  0.070195  0.083562  0.029097  0.790548
3  0.819573  0.010519  0.753127  0.385721  0.438864
4  0.725190  0.279621  0.799366  0.977950  0.607616
5  0.730042  0.424250  0.843349  0.376671  0.970977

In [184]:
male_tuple ={'서울특별시': 4732275,
              '부산광역시': 1668618,
              '인천광역시': 1476813,
              '대구광역시': 1198815,
              '대전광역시': 734441,
              '광주광역시': 720060}
male = pd.Series(male_tuple)
male

서울특별시    4732275
부산광역시    1668618
인천광역시    1476813
대구광역시    1198815
대전광역시     734441
광주광역시     720060
dtype: int64

In [185]:
female_tuple ={'서울특별시': 4988571,
              '부산광역시': 1735805,
              '인천광역시': 1470404,
              '대구광역시': 1229139,
              '대전광역시': 736599,
              '광주광역시': 734988}
female = pd.Series(female_tuple)
female

서울특별시    4988571
부산광역시    1735805
인천광역시    1470404
대구광역시    1229139
대전광역시     736599
광주광역시     734988
dtype: int64

In [186]:
korea_df = pd.DataFrame({'인구수': population, # Series
                         '남자인구수': male,  # Series  
                         '여자인구수': female}) # Series
korea_df

           인구수    남자인구수    여자인구수
서울특별시  9720846  4732275  4988571
부산광역시  3404423  1668618  1735805
인천광역시  2947217  1476813  1470404
대구광역시  2427954  1198815  1229139
대전광역시  1471040   734441   736599
광주광역시  1455048   720060   734988

In [187]:
korea_df.index

Index(['서울특별시', '부산광역시', '인천광역시', '대구광역시', '대전광역시', '광주광역시'], dtype='object')

In [188]:
korea_df.columns

Index(['인구수', '남자인구수', '여자인구수'], dtype='object')

In [189]:
korea_df['여자인구수']

서울특별시    4988571
부산광역시    1735805
인천광역시    1470404
대구광역시    1229139
대전광역시     736599
광주광역시     734988
Name: 여자인구수, dtype: int64

In [190]:
korea_df['서울특별시':'인천광역시']

           인구수    남자인구수    여자인구수
서울특별시  9720846  4732275  4988571
부산광역시  3404423  1668618  1735805
인천광역시  2947217  1476813  1470404

### Index 객체

In [191]:
idx = pd.Index([2,4,6,8,10])
idx

Int64Index([2, 4, 6, 8, 10], dtype='int64')

In [192]:
idx[1]

4

In [193]:
idx[1:2:2]

Int64Index([4], dtype='int64')

In [136]:
idx[-1:]

Int64Index([10], dtype='int64')

In [137]:
idx[::2]

Int64Index([2, 6, 10], dtype='int64')

In [138]:
print(idx)
print(idx.size) # 5개의 값이 들어감
print(idx.shape) # 1차원 shape
print(idx.ndim) # 1차원이라서 1이 출력
print(idx.dtype)

Int64Index([2, 4, 6, 8, 10], dtype='int64')
5
(5,)
1
int64

#### Index 연산

In [194]:
idx1 = pd.Index([1,2,4,6,8])
idx2 = pd.Index([2,4,5,6,7])
print(idx1.append(idx2)) # 합집합
print(idx1.difference(idx2)) # 차집합
print(idx1 - idx2) # 차집합과는 다르게 같은 자리에 값끼리 빼줌
print(idx1.intersection(idx2)) # 교집합
print(idx1 & idx2) # 교집합
print(idx1.union(idx2)) # 중복을 뺀 합집합
print(idx1 | idx2) # 중복을 뺀 합집합
print(idx1.delete(0)) # 0번째 값 삭제
print(idx1.drop(8)) # () 안에 값을 삭제
print(idx1 ^ idx2) # 공통점을 뺀 나머지 > 여집합

Int64Index([1, 2, 4, 6, 8, 2, 4, 5, 6, 7], dtype='int64')
Int64Index([1, 8], dtype='int64')
Int64Index([-1, -2, -1, 0, 1], dtype='int64')
Int64Index([2, 4, 6], dtype='int64')
Int64Index([2, 4, 6], dtype='int64')
Int64Index([1, 2, 4, 5, 6, 7, 8], dtype='int64')
Int64Index([1, 2, 4, 5, 6, 7, 8], dtype='int64')
Int64Index([2, 4, 6, 8], dtype='int64')
Int64Index([1, 2, 4, 6], dtype='int64')
Int64Index([1, 5, 7, 8], dtype='int64')



---

## 인덱싱(Indexing)

In [195]:
s = pd.Series([0, 0.25, 0.5, 0.75, 1.0],
              index = ['a','b','c','d','e'])
s

a    0.00
b    0.25
c    0.50
d    0.75
e    1.00
dtype: float64

In [196]:
s['b']

0.25

In [197]:
'b' in s

True

In [198]:
s.keys()

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [199]:
list(s.items())

[('a', 0.0), ('b', 0.25), ('c', 0.5), ('d', 0.75), ('e', 1.0)]

In [200]:
s['f'] = 1.25
s

a    0.00
b    0.25
c    0.50
d    0.75
e    1.00
f    1.25
dtype: float64

In [201]:
s['a':'d']

a    0.00
b    0.25
c    0.50
d    0.75
dtype: float64

In [202]:
s[0:4]

a    0.00
b    0.25
c    0.50
d    0.75
dtype: float64

In [203]:
s[(s >0.4) & (s < 0.8)]

c    0.50
d    0.75
dtype: float64

In [204]:
s[['a','c','e']]

a    0.0
c    0.5
e    1.0
dtype: float64

### Series 인덱싱

In [205]:
s = pd.Series(['a','b','c','d','e'],
              index=[1,3,5,7,9])
s

1    a
3    b
5    c
7    d
9    e
dtype: object

In [206]:
s[1]

'a'

In [207]:
s[2:4]

5    c
7    d
dtype: object

In [208]:
s.iloc[1]

'b'

In [209]:
s.iloc[2:4]

5    c
7    d
dtype: object

In [210]:
s.reindex(range(10))

0    NaN
1      a
2    NaN
3      b
4    NaN
5      c
6    NaN
7      d
8    NaN
9      e
dtype: object

In [211]:
s.reindex(range(10), method='bfill') # method='bfill'> 빈 값을 전에 있는 값으로 채워요

0    a
1    a
2    b
3    b
4    c
5    c
6    d
7    d
8    e
9    e
dtype: object

### DataFrame 인덱싱

In [212]:
korea_df

           인구수    남자인구수    여자인구수
서울특별시  9720846  4732275  4988571
부산광역시  3404423  1668618  1735805
인천광역시  2947217  1476813  1470404
대구광역시  2427954  1198815  1229139
대전광역시  1471040   734441   736599
광주광역시  1455048   720060   734988

In [213]:
korea_df['남자인구수']

서울특별시    4732275
부산광역시    1668618
인천광역시    1476813
대구광역시    1198815
대전광역시     734441
광주광역시     720060
Name: 남자인구수, dtype: int64

In [214]:
korea_df.남자인구수

서울특별시    4732275
부산광역시    1668618
인천광역시    1476813
대구광역시    1198815
대전광역시     734441
광주광역시     720060
Name: 남자인구수, dtype: int64

In [215]:
korea_df.여자인구수

서울특별시    4988571
부산광역시    1735805
인천광역시    1470404
대구광역시    1229139
대전광역시     736599
광주광역시     734988
Name: 여자인구수, dtype: int64

In [216]:
korea_df['남여비율'] = (korea_df['남자인구수'] * 100 / korea_df['여자인구수'])

In [217]:
korea_df.남여비율

서울특별시     94.862336
부산광역시     96.129346
인천광역시    100.435867
대구광역시     97.532907
대전광역시     99.707032
광주광역시     97.968946
Name: 남여비율, dtype: float64

In [218]:
korea_df.values

array([[9.72084600e+06, 4.73227500e+06, 4.98857100e+06, 9.48623363e+01],
       [3.40442300e+06, 1.66861800e+06, 1.73580500e+06, 9.61293463e+01],
       [2.94721700e+06, 1.47681300e+06, 1.47040400e+06, 1.00435867e+02],
       [2.42795400e+06, 1.19881500e+06, 1.22913900e+06, 9.75329072e+01],
       [1.47104000e+06, 7.34441000e+05, 7.36599000e+05, 9.97070319e+01],
       [1.45504800e+06, 7.20060000e+05, 7.34988000e+05, 9.79689464e+01]])

In [220]:
korea_df.T # 기존의 행과 열이 바뀌어 출력

              서울특별시         부산광역시  ...         대전광역시         광주광역시
인구수    9.720846e+06  3.404423e+06  ...  1.471040e+06  1.455048e+06
남자인구수  4.732275e+06  1.668618e+06  ...  7.344410e+05  7.200600e+05
여자인구수  4.988571e+06  1.735805e+06  ...  7.365990e+05  7.349880e+05
남여비율   9.486234e+01  9.612935e+01  ...  9.970703e+01  9.796895e+01

[4 rows x 6 columns]

In [221]:
korea_df.values[0]

array([9.72084600e+06, 4.73227500e+06, 4.98857100e+06, 9.48623363e+01])

In [222]:
korea_df['인구수']

서울특별시    9720846
부산광역시    3404423
인천광역시    2947217
대구광역시    2427954
대전광역시    1471040
광주광역시    1455048
Name: 인구수, dtype: int64

In [223]:
korea_df.loc[:'인천광역시',:'남자인구수']

           인구수    남자인구수
서울특별시  9720846  4732275
부산광역시  3404423  1668618
인천광역시  2947217  1476813

In [225]:
korea_df.loc[(korea_df.여자인구수 > 1000000)] # 여자인구수가 1000000 초과인 지역을 알려주세요

           인구수    남자인구수    여자인구수        남여비율
서울특별시  9720846  4732275  4988571   94.862336
부산광역시  3404423  1668618  1735805   96.129346
인천광역시  2947217  1476813  1470404  100.435867
대구광역시  2427954  1198815  1229139   97.532907

In [226]:
korea_df.loc[(korea_df.인구수 < 2000000)] # 인구수가 2000000 미만인 지역을 알려주세요

           인구수   남자인구수   여자인구수       남여비율
대전광역시  1471040  734441  736599  99.707032
광주광역시  1455048  720060  734988  97.968946

In [228]:
korea_df.loc[(korea_df.인구수 > 2500000)] # 인구수가 2500000 초과인 지역을 알려주세요

           인구수    남자인구수    여자인구수        남여비율
서울특별시  9720846  4732275  4988571   94.862336
부산광역시  3404423  1668618  1735805   96.129346
인천광역시  2947217  1476813  1470404  100.435867

In [229]:
korea_df.loc[korea_df.남여비율 > 100] # 남여비율 중 남자가 더 많은 곳을 알려주세요

           인구수    남자인구수    여자인구수        남여비율
인천광역시  2947217  1476813  1470404  100.435867

In [230]:
korea_df.loc[(korea_df.인구수 > 2500000) & (korea_df.남여비율 > 100)]

           인구수    남자인구수    여자인구수        남여비율
인천광역시  2947217  1476813  1470404  100.435867

In [231]:
korea_df.iloc[:3,:2]

           인구수    남자인구수
서울특별시  9720846  4732275
부산광역시  3404423  1668618
인천광역시  2947217  1476813

### 다중 인덱싱(Multi Indexing)

* 1차원의 Series와 2차원의 DataFrame 객체를 넘어 3차원, 4차원 이상의 고차원 데이터 처리
* 단일 인덱스 내에 여러 인덱스를 포함하는 다중 인덱싱

#### 다중 인덱스 Series

In [232]:
korea_df

           인구수    남자인구수    여자인구수        남여비율
서울특별시  9720846  4732275  4988571   94.862336
부산광역시  3404423  1668618  1735805   96.129346
인천광역시  2947217  1476813  1470404  100.435867
대구광역시  2427954  1198815  1229139   97.532907
대전광역시  1471040   734441   736599   99.707032
광주광역시  1455048   720060   734988   97.968946

In [233]:
idx_tuples = [('서울특별시', 2010),('서울특별시', 2020),
              ('부산광역시', 2010),('부산광역시', 2020),
              ('인천광역시', 2010),('인천광역시', 2020),
              ('대구광역시', 2010),('대구광역시', 2020),
              ('대전광역시', 2010),('대전광역시', 2020),
              ('광주광역시', 2010),('광주광역시', 2020)]
idx_tuples

[('서울특별시', 2010),
 ('서울특별시', 2020),
 ('부산광역시', 2010),
 ('부산광역시', 2020),
 ('인천광역시', 2010),
 ('인천광역시', 2020),
 ('대구광역시', 2010),
 ('대구광역시', 2020),
 ('대전광역시', 2010),
 ('대전광역시', 2020),
 ('광주광역시', 2010),
 ('광주광역시', 2020)]

In [234]:
pop_tuples = [10312545, 9720846,
              2567910, 3404423,
              2758296, 2947217,
              2511676, 2427954,
              1503664, 1471040,
              1454636, 1455048]
population = pd.Series(pop_tuples, index=idx_tuples)
population

(서울특별시, 2010)    10312545
(서울특별시, 2020)     9720846
(부산광역시, 2010)     2567910
(부산광역시, 2020)     3404423
(인천광역시, 2010)     2758296
(인천광역시, 2020)     2947217
(대구광역시, 2010)     2511676
(대구광역시, 2020)     2427954
(대전광역시, 2010)     1503664
(대전광역시, 2020)     1471040
(광주광역시, 2010)     1454636
(광주광역시, 2020)     1455048
dtype: int64

In [235]:
midx = pd.MultiIndex.from_tuples(idx_tuples)
midx

MultiIndex([('서울특별시', 2010),
            ('서울특별시', 2020),
            ('부산광역시', 2010),
            ('부산광역시', 2020),
            ('인천광역시', 2010),
            ('인천광역시', 2020),
            ('대구광역시', 2010),
            ('대구광역시', 2020),
            ('대전광역시', 2010),
            ('대전광역시', 2020),
            ('광주광역시', 2010),
            ('광주광역시', 2020)],
           )

In [236]:
population = population.reindex(midx)
population

서울특별시  2010    10312545
       2020     9720846
부산광역시  2010     2567910
       2020     3404423
인천광역시  2010     2758296
       2020     2947217
대구광역시  2010     2511676
       2020     2427954
대전광역시  2010     1503664
       2020     1471040
광주광역시  2010     1454636
       2020     1455048
dtype: int64

In [238]:
population[:, 2010]

서울특별시    10312545
부산광역시     2567910
인천광역시     2758296
대구광역시     2511676
대전광역시     1503664
광주광역시     1454636
dtype: int64

In [239]:
population['대전광역시',:]

2010    1503664
2020    1471040
dtype: int64

In [240]:
korea_mdf = population.unstack() # 다중인덱싱으로 만든 시리즈를 데이터 프레임으로 만들어줌
korea_mdf

           2010     2020
광주광역시   1454636  1455048
대구광역시   2511676  2427954
대전광역시   1503664  1471040
부산광역시   2567910  3404423
서울특별시  10312545  9720846
인천광역시   2758296  2947217

In [241]:
korea_mdf.stack() # 데이터프레임을 다중인덱싱으로

광주광역시  2010     1454636
       2020     1455048
대구광역시  2010     2511676
       2020     2427954
대전광역시  2010     1503664
       2020     1471040
부산광역시  2010     2567910
       2020     3404423
서울특별시  2010    10312545
       2020     9720846
인천광역시  2010     2758296
       2020     2947217
dtype: int64

In [246]:
male_tuples = [5111259, 4732275,
              1773170, 1668618,
              1390356, 1476813,
              1255245, 1198815,
              753648, 734441,
              721780, 720060]
male_tuples

[5111259,
 4732275,
 1773170,
 1668618,
 1390356,
 1476813,
 1255245,
 1198815,
 753648,
 734441,
 721780,
 720060]

In [247]:
korea_mdf = pd.DataFrame({'총인구수': population,
                          '남자인구수': male_tuples})
korea_mdf

                총인구수    남자인구수
서울특별시 2010  10312545  5111259
      2020   9720846  4732275
부산광역시 2010   2567910  1773170
      2020   3404423  1668618
인천광역시 2010   2758296  1390356
      2020   2947217  1476813
대구광역시 2010   2511676  1255245
      2020   2427954  1198815
대전광역시 2010   1503664   753648
      2020   1471040   734441
광주광역시 2010   1454636   721780
      2020   1455048   720060

In [248]:
female_tuples = [5201286, 4988571,
                 1794740, 1735805,
                 1367940, 1470404,
                 1256431, 1229139,
                 750016, 736599,
                 732856, 734988]
female_tuples

[5201286,
 4988571,
 1794740,
 1735805,
 1367940,
 1470404,
 1256431,
 1229139,
 750016,
 736599,
 732856,
 734988]

In [249]:
korea_mdf = pd.DataFrame({'총인구수': population,
                          '남자인구수': male_tuples,
                          '여자인구수': female_tuples})
korea_mdf

                총인구수    남자인구수    여자인구수
서울특별시 2010  10312545  5111259  5201286
      2020   9720846  4732275  4988571
부산광역시 2010   2567910  1773170  1794740
      2020   3404423  1668618  1735805
인천광역시 2010   2758296  1390356  1367940
      2020   2947217  1476813  1470404
대구광역시 2010   2511676  1255245  1256431
      2020   2427954  1198815  1229139
대전광역시 2010   1503664   753648   750016
      2020   1471040   734441   736599
광주광역시 2010   1454636   721780   732856
      2020   1455048   720060   734988

In [250]:
ratio = korea_mdf['남자인구수'] * 100 / korea_mdf['여자인구수']
ratio

서울특별시  2010     98.269140
       2020     94.862336
부산광역시  2010     98.798155
       2020     96.129346
인천광역시  2010    101.638668
       2020    100.435867
대구광역시  2010     99.905606
       2020     97.532907
대전광역시  2010    100.484256
       2020     99.707032
광주광역시  2010     98.488653
       2020     97.968946
dtype: float64

In [251]:
ratio.unstack()

             2010        2020
광주광역시   98.488653   97.968946
대구광역시   99.905606   97.532907
대전광역시  100.484256   99.707032
부산광역시   98.798155   96.129346
서울특별시   98.269140   94.862336
인천광역시  101.638668  100.435867

In [252]:
korea_mdf = pd.DataFrame({'총인구수': population,
                          '남자인구수': male_tuples,
                          '여자인구수': female_tuples,
                          '남여비율': ratio})
korea_mdf

                총인구수    남자인구수    여자인구수        남여비율
서울특별시 2010  10312545  5111259  5201286   98.269140
      2020   9720846  4732275  4988571   94.862336
부산광역시 2010   2567910  1773170  1794740   98.798155
      2020   3404423  1668618  1735805   96.129346
인천광역시 2010   2758296  1390356  1367940  101.638668
      2020   2947217  1476813  1470404  100.435867
대구광역시 2010   2511676  1255245  1256431   99.905606
      2020   2427954  1198815  1229139   97.532907
대전광역시 2010   1503664   753648   750016  100.484256
      2020   1471040   734441   736599   99.707032
광주광역시 2010   1454636   721780   732856   98.488653
      2020   1455048   720060   734988   97.968946

#### 다중 인덱스 생성

In [253]:
df = pd.DataFrame(np.random.rand(6, 3),
                  index=[['a','a','b','b','c','c'], [1,2,1,2,1,2]],
                  columns = ['c1','c2','c3'])
df

           c1        c2        c3
a 1  0.413007  0.554040  0.725387
  2  0.243822  0.324162  0.169333
b 1  0.796902  0.116601  0.394880
  2  0.875747  0.475144  0.855363
c 1  0.287715  0.771992  0.024144
  2  0.981575  0.484780  0.288383

In [254]:
pd.MultiIndex.from_arrays([['a','a','b','b','c','c'], [1,2,1,2,1,2]])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2),
            ('c', 1),
            ('c', 2)],
           )

In [256]:
pd.MultiIndex.from_tuples([('a',1),('a',2),('b',1),('b',2),('c',1),('c',2)])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2),
            ('c', 1),
            ('c', 2)],
           )

In [258]:
 pd.MultiIndex.from_product([['a','b','c'],[1,2]])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2),
            ('c', 1),
            ('c', 2)],
           )

In [259]:
pd.MultiIndex(levels=[['a','b','c'],[1,2]],
              codes=[[0,0,1,1,2,2],[0,1,0,1,0,1]])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2),
            ('c', 1),
            ('c', 2)],
           )

In [261]:
population.index.names = ['행정구역','년도']
population

행정구역   년도
서울특별시  2010    10312545
       2020     9720846
부산광역시  2010     2567910
       2020     3404423
인천광역시  2010     2758296
       2020     2947217
대구광역시  2010     2511676
       2020     2427954
대전광역시  2010     1503664
       2020     1471040
광주광역시  2010     1454636
       2020     1455048
dtype: int64

In [264]:
idx = pd.MultiIndex.from_product([['a','b','c'],[1,2]],
                                 names=['name1','name2'])
cols = pd.MultiIndex.from_product([['c1','c2','c3'],[1,2]],
                                  names=['col_name1','col_name2'])
data = np.round(np.random.randn(6, 6), 2)
mdf = pd.DataFrame(data, index=idx, columns=cols)
mdf

col_name1      c1          c2          c3
col_name2       1     2     1     2     1     2
name1 name2
a     1     -2.15  0.38 -0.04 -0.22 -0.59 -0.80
      2     -0.12 -0.23  0.49  0.04 -0.76  0.65
b     1      0.70  0.32 -0.49  1.72  0.66  1.39
      2      0.53 -1.99  0.15 -0.36 -1.04  0.72
c     1     -0.20  1.37  0.97  0.60  1.17 -0.38
      2     -0.63 -0.03 -0.69  0.62 -1.08  0.40

In [265]:
mdf['c2']

col_name2       1     2
name1 name2
a     1     -0.04 -0.22
      2      0.49  0.04
b     1     -0.49  1.72
      2      0.15 -0.36
c     1      0.97  0.60
      2     -0.69  0.62

#### 인덱싱 및 슬라이싱

In [266]:
population

행정구역   년도
서울특별시  2010    10312545
       2020     9720846
부산광역시  2010     2567910
       2020     3404423
인천광역시  2010     2758296
       2020     2947217
대구광역시  2010     2511676
       2020     2427954
대전광역시  2010     1503664
       2020     1471040
광주광역시  2010     1454636
       2020     1455048
dtype: int64

In [267]:
population['인천광역시', 2010]

2758296

In [268]:
population[:,2010]

행정구역
서울특별시    10312545
부산광역시     2567910
인천광역시     2758296
대구광역시     2511676
대전광역시     1503664
광주광역시     1454636
dtype: int64

In [270]:
population[population > 3000000]

행정구역   년도
서울특별시  2010    10312545
       2020     9720846
부산광역시  2020     3404423
dtype: int64

In [271]:
population[['대구광역시','대전광역시']]

행정구역   년도
대구광역시  2010    2511676
       2020    2427954
대전광역시  2010    1503664
       2020    1471040
dtype: int64

In [272]:
mdf

col_name1      c1          c2          c3
col_name2       1     2     1     2     1     2
name1 name2
a     1     -2.15  0.38 -0.04 -0.22 -0.59 -0.80
      2     -0.12 -0.23  0.49  0.04 -0.76  0.65
b     1      0.70  0.32 -0.49  1.72  0.66  1.39
      2      0.53 -1.99  0.15 -0.36 -1.04  0.72
c     1     -0.20  1.37  0.97  0.60  1.17 -0.38
      2     -0.63 -0.03 -0.69  0.62 -1.08  0.40

In [273]:
mdf['c2',1]

name1  name2
a      1       -0.04
       2        0.49
b      1       -0.49
       2        0.15
c      1        0.97
       2       -0.69
Name: (c2, 1), dtype: float64

In [274]:
mdf.iloc[:3, :4]

col_name1      c1          c2
col_name2       1     2     1     2
name1 name2
a     1     -2.15  0.38 -0.04 -0.22
      2     -0.12 -0.23  0.49  0.04
b     1      0.70  0.32 -0.49  1.72

In [275]:
mdf.loc[:,('c2',1)]

name1  name2
a      1       -0.04
       2        0.49
b      1       -0.49
       2        0.15
c      1        0.97
       2       -0.69
Name: (c2, 1), dtype: float64

In [276]:
idx_slice = pd.IndexSlice
mdf.loc[idx_slice[:,2], idx_slice[:,2]]

col_name1      c1    c2    c3
col_name2       2     2     2
name1 name2
a     2     -0.23  0.04  0.65
b     2     -1.99 -0.36  0.72
c     2     -0.03  0.62  0.40

#### 다중 인덱스 재정렬

## 데이터 연산

### 연산자 범용 함수

#### add()

#### sub() / subtract()

#### mul() / multply()

#### truediv() /  div() / divide() / floordiv()

#### mod()

#### pow()

### 정렬(Sort)

### 순위(Ranking)

### 고성능 연산

## 데이터 결합

### Concat() / Append()

### 병합과 조인

## 데이터 집계와 그룹 연산

#### 집계 연산(Aggregation)

### GroupBy 연산

### 피벗 테이블(Pivot Table)

### 범주형(Categorical) 데이터

## 문자열 연산

#### 문자열 연산자

#### 기타 연산자

#### 정규표현식

## 시계열 처리

#### 시계열 데이터 구조

### 시계열 기본

### 주기와 오프셋

### 시프트(Shift)

### 시간대 처리

* 국제표준시(Coordinated Universal Time, UTC)를 기준으로 떨어진 거리만큼 오프셋으로 시간대 처리
* 전 세계의 시간대 정보를 모아놓은 올슨 데이터베이스를 활용한 라이브러리인 `pytz` 사용

### 기간과 기간 연산

### 리샘플링(Resampling)

* 리샘플링(Resampling): 시계열의 빈도 변환
* 다운샘플링(Down sampling): 상위 빈도 데이터를 하위 빈도 데이터로 집계
* 업샘플링(Up sampling): 하위 빈도 데이터를 상위 빈도 데이터로 집계

### 무빙 윈도우(Moving Window)

## 데이터 읽기 및 저장

### 텍스트 파일 읽기/쓰기

### 이진 데이터 파일 읽기/쓰기

## 데이터 정제

### 누락값 처리

* 대부분의 실제 데이터들은 정제되지 않고 누락값들이 존재
* 서로 다른 데이터들은 다른 형태의 결측을 가짐
* 결측 데이터는 `null`, `NaN`, `NA`로 표기

#### None: 파이썬 누락 데이터

#### NaN: 누락된 수치 데이터

#### Null 값 처리

### 중복 제거

### 값 치환

## 참고문헌

* Pandas 사이트: https://pandas.pydata.org/
* Jake VanderPlas, "Python Data Science Handbook", O'Reilly
* Wes Mckinney, "Python for Data Analysis", O'Reilly